body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3c87d7, #6ccfeb);
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}
.contact-container {
    max-width: 600px;
    margin-top: 60px;
    margin-left: 460px;
    background: rgba(240, 128, 128, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
}
.contact-form input:focus, .contact-form textarea:focus {
    outline: 2px solid #ffcb00;
}
.contact-form button {
    background-color: #ffcb00;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form button:hover {
    background-color: purple;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Back Button */
.back-button {
    background: #2867f0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button:hover {
    background: #0190f6;
    transform: scale(1.05);
}