body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.head {
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  color: #585555;
  padding: 20px 0;
  font-size: 2rem;
  border-radius: 0%;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.tech-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.tech-card:hover {
  transform: scale(1.05);
}

.tech-card img {
 width: 90px;
 height: 70px;
 object-fit: contain;
 
}

.tech-card h2 {
  margin: 15px 0 10px;
}

.tech-card p {
  color: #555;
}

.tech-card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #2b6cb0;
}



/* Back Button */
.back-button {
  background: #2867f0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button:hover {
  background: #0190f6;
  transform: scale(1.05);
}

/* searchbar design */
.search-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 50%;
  padding: 12px;
  margin: 20px 0;
  font-size: 18px;
  border: 2px solid #3498db;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
  padding-right: 40px; /* Space for clear button */
}

.search-bar:focus {
  border-color: #2ecc71;
  box-shadow: 0 0 10px rgba(46, 204, 113, 0.5);
}

.clear-btn {
  position: absolute;
  right: 27%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #7c7877;
  padding: 5px 10px;
  border-radius: 50%;
  display: none;
  transition: all 0.3s ease;
}

.clear-btn:hover {
  color: #c0392b;
}

.no-results {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: red;
  margin-top: 15px;
}
