/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

/* Include Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Poppins font to the body */
@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
}
